.block {
    width: 69.7%;
    margin-top: 150px;
    margin-left: 15%;
    border-width: 3px;
	border-radius: 10px;
	border-style: solid;
	border-color: #FCB555;
    background-color: #F5F5F5;
}

.floot {
    vertical-align: middle;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
}
