body {
	color: #000000;
	background-color: #F5F5F5;
}

header {
	overflow: hidden;
	border-color: #FCB000;
	border-style: solid;
	border-width: thin;
	width: auto;
}

.taskbar {
    margin-top: 100px;
    float: right;
    text-align: center;
}

.Logo {
    float: left;
    padding-left: 50px;
}

.sidebar {
	overflow: hidden;
	width: auto;
	position: absolute;
	z-index: 1;
	top: 280px;
	left: 30px;
	background-color: #E7E7E7;
	padding-top: 20px;
	border-color: #FCB000;
	border-width: thin;
	border-radius: 10px;
	border-style: solid;
}

a {
	margin: 20px;
	color: black;
}

.block {
	width: 40%;
	margin: 480px;
	margin-top: 50px;
	padding-left: 60px;
	padding-right: 50px;
	padding-top: 20px;
	border-radius: 20px;
	border-style: solid;
	border-color: #FCB000;
    margin-bottom: auto;
    
}

p {
	text-align: justify;
}

.question {
	border-color: #FCB000;
	border-radius: 10px;
	border-style: solid;
	padding: 10px;
	border-width: thin;
	margin-top: 50px;
    
}

.button {
	font-weight: bold;
	margin-left: 620px;
	width: 15%;
	border-color: #FCF000;
	border-radius: 10px;
	border-style: solid;
	padding: 10px;
	margin-bottom: 30px;
	border-width: thin;
	background-color: #FCB000;
}

.icon {
    font-size: 40px;
    margin-right: 20px;
}

.textinput {
	margin-left: 500px;
	text-align: left;
}

.text {
	font-size: 40px;
	text-align: center;
	Font-Weight: Bold;
	margin-bottom: 20px;
	margin-top: 10px;
    margin: 20px;
}

.gauche {
	
	text-align: center;
    margin-right: 20px;
    margin-left: 730px;
    margin-top: 10px;
    
    
    }


.droite {
	
	text-align: center;
    margin-right: 580px;
    margin-left: 730px;
    margin-top: 10px; 
}

.categorie{
    border-color:#FCF000;
    background-color:  #FCB000;
    width:41.5%;
    height: 50%;
    margin: 76px;
    margin-right: 180px;
    margin-left: 515px;
    margin-bottom: 10px;
}
.cat{
    margin: 200px;
}

.sizebis {
	height: 400px;
	width: 725px;
	
}
