body {
	color: #000000;
	background-color: #E7E7E7;
}

header {
	overflow: hidden;
	border-color: #FCB555;
	border-style: solid;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.answ{
    width: 45%;
    margin-left: 24%;
	margin-top: 50px;
    padding-bottom: 40px;
	padding-left: 3%;
	padding-right: 50px;
    padding-top: 40px;
	border-radius: 10px;
	border-style: solid;
	border-color: #FCB000;
    background-color: #F5F5F5
}

.quest{
    width: 48.7%;
    margin-left: 24%;
    font-size: 22px;
    padding-top: 5px;
    text-align: center;
    margin-top: 50px;
	padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5px;
    border-radius: 10px;
	border-style: solid;
	border-color: #FCB000;
    background-color: #F5F5F5;
}

.buttonanswer{
    margin-left: 47.5%;
    text-decoration: none;
    font-size: 18px;
	font-weight: bold;
	border-style: solid;
	padding: 10px;
    border-color: dimgray;
	border-radius: 10px;
	border-width: thin;
	background-color: #FCB555;
    white-space: nowrap;
    color: black;
}

.block {
    width: 69.7%;
    margin-top: 150px;
    margin-left: 15%;
    border-width: 3px;
	border-radius: 10px;
	border-style: solid;
	border-color: #FCB555;
    background-color: #F5F5F5;
}

.floot {
    vertical-align: middle;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Question{
    font-size:28px;
    text-align: center;
}
.erreur{
    color: dimgrey;
    text-align: center;
}
