body {
	color: #000000;
	background-color: #E7E7E7;
}

header {
	overflow: hidden;
	border-color: #FCB555;
	border-style: solid;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.Logo {
    float: left;
    padding-left: 4%;
}

.taskbar {
    margin-top: 30px;
    float: right;
    text-align: center;
}

.icon {
    padding-left: 20px;
}

.salut {
    padding-right: 60px;
}

a {
	color: black;
}

.titre {
    width: 70%;
    margin-top: 100px;
    margin-left: 15%;
	border-radius: 10px;
	border-style: solid;
	border-color: #FCB555;
    background-color: #F5F5F5;
}

.text {
    color: dimgrey;
	font-size: 40px;
	text-align: center;
	Font-Weight: Bold;
	margin-bottom: 20px;
	margin-top: 10px;
    margin: 20px;
}

.categorie {
    border-style: solid;
    border-radius: 10px;
    border-color: dimgrey;
    border-width:thin;
    background-color: #FCB555;
    width: 70%;
    margin-top: 30px;
    margin-left: 15%;
    padding-bottom: 20px;
}

.text_user {
    width: 69.7%;
    margin-top: 30px;
    margin-left: 15%;
    border-width: 3px;
	border-radius: 10px;
	border-style: solid;
	border-color: #FCB555;
    background-color: #F5F5F5;
}

.button {
	font-weight: bold;
	width: 15%;
	border-color: dimgrey;
	border-radius: 10px;
	border-style: solid;
	padding: 10px;
	border-width: thin;
	background-color: #FCB555;
}

.annuler {
    float: right;
    margin-top: 30px;
    margin-right: 5%;
}

.envoyer {
    float: right;
    margin-top: 30px;
    margin-right: 15%;
}

h2 {
    margin-left: 5%;
}

.mot_gauche {
    margin-left: 7%;
    display: inline-table;
}



.answ{
    width: 60%;
    margin-left: 23%;
	margin-top: 50px;
    padding-bottom: 40px;
	padding-left: 3%;
	padding-right: 50px;
    padding-top: 40px;
	border-radius: 10px;
	border-style: solid;
	border-color: #FCB000;
    background-color: #F5F5F5
}

.quest{
    width: 62.7%;
    margin-left: 23%;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
	padding-left: 3%;
    padding-bottom: 5px;
    border-radius: 10px;
	border-style: solid;
	border-color: #FCB000;
    background-color: #F5F5F5;
}

.answer {
    position: absolute;
    font-size: 18px;
	font-weight: bold;
    border-style: solid;
    padding: 10px;
    border-color: #FCF000;
	border-radius: 10px;
    border-width: thin;
	background-color: #FCB000;
}

.block {
    width: 69.7%;
    margin-top: 150px;
    margin-left: 15%;
    border-width: 3px;
	border-radius: 10px;
	border-style: solid;
	border-color: #FCB555;
    background-color: #F5F5F5;
}

.floot {
    vertical-align: middle;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
